/**
https://color.adobe.com/create/color-wheel/?base=2&rule=Triad&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.10363117101364169,0.5265475568197696,0.7,1,0.34901960784313724,0.4666666666666667,0.24804453001948812,0.781295555549833,1,0.8,0.766005663330289,0.11843562401559052,0.7,0.6833181791489998,0.365540324288015&swatchOrder=0,1,2,3,4
**/

body {
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
}

.container.page-container {
  margin-top: 2rem; 
}

nav.navbar {
  background: #B2AE5D;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  font-family: 'Tajawal', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}


figure {
  text-align: center;
}

figcaption {
  margin-top: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p.lead {
  font-size: 1.5rem;
}

.info.cover {
  background: url('../images/info-cover.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 80vh;
  position: relative;
}

.cover {
  background: url('../images/cover.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 80vh;
  position: relative;
}


.cover-cover {
  position: absolute;
  background: #1A86B2;
  width: 100%;
  height: 100%;
  min-height: 400px;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.partners img {
  width: 100%;
}

.partners .row {
  margin: 0 auto;
}


@media (max-width: 768px) {
  .cover {
    background: url('../images/cover-mobile.jpg');
    height: auto;
  }
  .btn.btn-demo {
    margin-left: 0;
  }
}

.cover h1 {
  color: #fff;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 4rem;
}

.cover p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.cover .wrapper {
  margin-top: 50px;
}

.info {
  padding: 2rem 0;
}

.container.narrow {
  max-width: 600px;
}
