<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|Tajawal" rel="stylesheet">
		<link rel="stylesheet" href="assets/style.css"/>
	</head>
	<body class="homepage">
		<nav class="navbar navbar-expand-lg navbar-light sticky-top">
		  <a class="navbar-brand" href="/">Outdoor Collective</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarHeader">
		    <ul class="navbar-nav mr-auto">

		      <li class="nav-item">
		        <a class="nav-link" href="/meetings">Meetings</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/subscribe">Mailing List</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/#partners">Supporters</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/#community">Community</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/#training">Training</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		{{ content }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</body>
</html>
